<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body { font-family: Arial; text-align: center; padding: 30px; }
        textarea { width: 500px; height: 120px;}
        button { padding: 10px 20px; font-size: 18;}
        pre { text-align: left; background-color: aquamarine; padding: 15px; display: inline-block;}
        .error { color: red;}
    </style>
    <title>myfirst webpage</title>
</head>
<body>
    <div>
        <img src="image/rccg2.jpeg" alt="">
    <h1>RCCG YOUNG AND ADULT ZONE BP2</h1>
    </div>
<div>
    <form method ="post">
        <input type="text" name="fullname" placeholder="Enter Your FullName:"> <br><br>

        <input type="phone" name="phone" placeholder="Please Enter Your Phone No. :"> <br><br>
        <input type="number" name="age" placeholder="Please Enter Your Age:"> <br></br>
        <input type="text" name="state" placeholder="Please Enter Your State:"> <br><br>
        <input type="text" name="city" placeholder="City Name:"> <br><br>
        <input type="text" name="lga" placeholder="L.G.A. Name:"> <br><br>
        <input type="text" name="street" placeholder="Street Number & Name:"> <br><br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>